{% extends 'base.html.twig' %}

{% block title %}Pozivi na sastanke{% endblock %}

{% block body %}

    <div class="w-75 mx-auto my-5 p-4 border rounded bg-white shadow">
        <h2 class="text-center blueText">Pozivi na sastanke</h2>
        <hr>
        {% if meetings %}
            {% for meeting in meetings %}
                <div class="border-start p-3 d-flex justify-content-between">
                    <div>
                        <h6>{{ meeting.meeting.creator.fullName }} Vas poziva na sastanak od {{ meeting.meeting.start|date('H:i') }}h do {{ meeting.meeting.end|date('H:i') }}h
                            u prostoriji '{{ meeting.meeting.room.name }}', {{ meeting.meeting.room.street}} - {{ meeting.meeting.room.city }}
                        </h6>
                        <p class="fst-italic"><span class="fst-normal">Tema sastanka: </span>{{ meeting.meeting.description }}</p>
                        <br>
                        <div class="d-flex">
                            <a href="{{ path('app_user_meeting_accept', { 'uim_id': meeting.id} ) }}" class="btn btn-success mx-2">Potvrdi dolazak</a>
                            <a href="{{ path('app_user_meeting_decline', { 'uim_id': meeting.id} ) }}" class="btn btn-danger">Odbaci</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-end border-start px-3 bg-light">
                        <p>Datum: <br>{{ meeting.meeting.start|date('d.m.Y') }}</p>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% else %}
            <p>Nemate ni jedan novi poziv za sastanake.</p>
        {% endif %}
    </div>

{% endblock %}