{% extends 'base.html.twig' %}

{% block title %}Svi korisnici - Admin{% endblock %}

{% block body %}


    <table class="table table-hover bg-light">
        <tr>
            <th>RB</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Sektor</th>
            <th>Role</th>
            <th></th>
        </tr>
        {% set counter = 1 %}
        {% for u in users %}
            <tr>
                <td>{{ counter }}</td>
                <td>{{ u.firstName }}</td>
                <td>{{ u.lastName }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.sector }}</td>
                <td>{% for role in u.roles %} {{ role }}, {% endfor %}</td>
                <td>
                    {% for r in app.user.roles %}
                        {% if r == "ROLE_ADMIN" %}
                            <a href="{{ path('admin_edit_user', { 'id': u.id}) }}" class="btn btn-warning">Izmeni</a>
                            <a href="{{ path('admin_delete_user', {'id': u.id}) }}" class="btn btn-danger">Izbriši</a>
                        {% endif %}
                    {% endfor %}
                    {% set break = false %}
                    {% for role in u.roles %}
                        {% if not break %}
                            {% if role == "ROLE_ADMIN" or role == "ROLE_CHIEF" %}
                                <a href="{{ path('admin_make_user_regular', {'id': u.id}) }}" class="btn btn-success">Make regular user</a>
                                {% set break = true %}
                            {% else %}
                                <a href="{{ path('admin_make_user_admin', {'id': u.id}) }}" class="btn btn-success">Make admin</a>
                                {% for r in app.user.roles %}
                                    {% if r == "ROLE_ADMIN" %}
                                        <a href="{{ path('admin_make_user_chief', {'id': u.id}) }}" class="btn btn-success">Make chief of sector</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% set counter = counter + 1 %}
        {% endfor %}
    </table>

{% endblock %}