{% extends 'base.html.twig' %}

{% block title %}Svi sektori - Admin{% endblock %}

{% block body %}


    <a href="{{ path('admin_insert_sector') }}" class="btn btn-warning mb-3">Dodaj novi sektor</a>

    <table class="table table-hover bg-light">
        <tr>
            <th>RB</th>
            <th>Naziv</th>
            <th></th>
        </tr>
        {% set counter = 1 %}
        {% for sector in sectors %}
            <tr>
                <td>{{ counter }}</td>
                <td>{{ sector.name }}</td>
                <td><a href="{{ path('admin_edit_sector', { 'id': sector.id}) }}" class="btn btn-warning">Izmeni</a> <a href="{{ path('admin_delete_sector', {'id' : sector.id })}}" class="btn btn-danger">Izbrisi</a></td>
            </tr>
            {% set counter = counter + 1 %}
        {% endfor %}
    </table>

{% endblock %}