{% extends 'base.html.twig' %}

{% block title %}Sve sale za sastanke{% endblock %}

{% block body %}

    {% if form %}
        {{ form_start(form) }}
            <div class="d-flex mx-auto w-25">
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary mb-3 ms-1" style="background-color: #F482D4; border: none">Pretraži</button>
            </div>
        {{ form_end(form) }}
    {% endif %}


    {% set counter = 1 %}

    {% for room in rooms %}

        <div class="card w-75 mx-auto my-5 shadow">
            <div class="card-header ps-4">Sala #{{ counter }}</div>
            <div class="card-body mx-5 px-5 pb-4">
                <h3 class="card-title">{{ room.name }}</h3>
                <br>
                <div class="row">
                    <div class="col-3 fw-bolder">Kapacitet:</div>
                    <div class="col">{{ room.seatNumber }} osoba</div>
                </div>
                <br>
                <div class="row">
                    <div class="col-3 fw-bolder">Locirano u:</div>
                    <div class="col">{{ room.city }}, {{ room.street }}</div>
                </div>
                <br>
                <a href="{{ path('app_showbyid_room', { 'id': room.id}) }}" class="btn btn-primary" style="background-color: #F482D4; border: none">Rezerviši ovu salu</a>
            </div>
        </div>

        {% set counter = counter + 1 %}
    {% endfor %}

{% endblock %}