{% extends 'base.html.twig' %}

{% block title %}{{ room.name }} - Rezervisi salu za sastanak{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {{ encore_entry_script_tags('timeline') }}
{% endblock %}
{% block body %}

    {%  if error_msg %}
        <div class="alert alert-danger">
            {{ error_msg }}
        </div>
    {% endif %}

        <div class="card w-75 mx-auto my-5 shadow-sm">
            <div class="card-body m-5 px-5">
                <h2 class="card-title text-center">{{ room.name }}</h2>
                <br>
                <hr>
                <div class="card-text">
                    <div class="row">
                        <div class="col-6 fw-bolder text-end">Kapacitet:</div>
                        <div class="col-6">{{ room.seatNumber }} osoba</div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6 fw-bolder text-end">Locirano u: </div>
                        <div class="col-6">{{ room.city }}, {{ room.street }}</div>
                    </div>
                </div>
                <hr>

                <div class=" p-3 bg-light">
                    <h6 class="text-center">Današnji raspored:</h6>
                    <br>
                    <div id="timelineList" ></div>
                </div>

                <hr>

                {% if form %}
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <br>
                        <button type="submit" class="btn btn-primary d-block mx-auto pinkBtn">Rezerviši</button>
                    {{ form_end(form) }}
                {% else %}
                    <a href="{{ path('app_login') }}" class="d-block text-center">Prijavi se za opciju rezervisanja sale za sastanak</a>
                {% endif %}

            </div>
        </div>



{% endblock %}