<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body style="background-color: #e8e8e8">
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top {{ app.session.flashBag.peek('success')|length > 0 ? '' : 'mb-4' }}" style="background-color: #3d8bfd;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}" style="padding-left: 15px; font-weight: bold; font-size: 22pt;">info<span style="color: #F482D4">sala</span></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_showall_room') }}">Sve sobe</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_home') }}">Admin</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="dropdown">
                            <a class= "me-3 dropdown-toggle"
                                    id="user-dropdown"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    style="text-decoration: none;">
                                <img src="{{ app.user.avatar }}" alt="{{ app.user.fullName }} Avatar">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
                                <li><a href="{{ path('app_user_profile') }}" class="dropdown-item">Moj profil</a></li>
                                <li><a href="{{ path('app_user_change_password') }}" class="dropdown-item">Promeni lozinku</a></li>
                                <li><a href="{{ path('app_logout') }}" class="dropdown-item">Odjavi se</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-sm me-3" type="button" >Prijavi se</a>
                        <a href="{{ path('app_signup')}}" class="btn btn-sm me-3" type="button" >Registracija</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
