<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
       {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top {{ app.session.flashBag.peek('success')|length > 0 ? '' : 'mb-4' }}" style="background-image: linear-gradient(to top,#0089DE, #004B7A); ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}" style="padding-left: 15px; font-weight: bold; font-size: 22pt;">info<span style="color: #F482D4">sala</span></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_showall_room') }}">Rezerviši salu</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" href="{{ path('admin_home') }}" >Admin</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="{{ path('admin_showall_users') }}">Korisnici</a></li>
                                    <li><a class="dropdown-item" href="{{ path('admin_showall_meetings') }}">Sastanci</a></li>
                                    <li><a class="dropdown-item" href="{{ path('admin_showall_room') }}">Sale</a></li>
                                    <li><a class="dropdown-item" href="{{ path('admin_showall_sectors') }}">Sektori</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% set message = false %}
                        {% set messageNumber = 0 %}
                        {% for m in app.user.userInMeetings %}
                            {% if m.isGoing == 0 %}
                                {% set message = true %}
                                {% set messageNumber = messageNumber + 1 %}
                            {% endif %}
                        {% endfor %}
                        <div class="dropdown ">

                            <a class= "me-3 position-relative"
                                    id="user-dropdown"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                    style="text-decoration: none">
                                <img src="{{ app.user.avatar }}" alt="{{ app.user.fullName }} Avatar">
                                {% if message %}
                                    <span class="position-absolute top-0 start-100 translate-middle badge
                                    border border-light rounded-circle bg-danger p-2">
                                    <span class="visually-hidden">New alerts</span>
                                    </span>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">
                                <li><a href="{{ path('app_user_created_meetings') }}" class="dropdown-item">Moji kreirani sastanci</a></li>
                                <li><a href="{{ path('app_user_meeting_requests') }}" class="dropdown-item">Pozivi za sastanke
                                        {% if message %}
                                            <span class="badge bg-danger p-1">
                                            {{ messageNumber }}
                                            </span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li><a href="{{ path('app_user_future_meetings') }}" class="dropdown-item">Svi budući sastanci</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="{{ path('app_user_profile') }}" class="dropdown-item">Moj profil</a></li>
                                <li><a href="{{ path('app_user_change_password') }}" class="dropdown-item">Promeni lozinku</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a href="{{ path('app_logout') }}" class="dropdown-item">Odjavi se</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-sm btn-outline-light me-3" type="button" >Prijavi se</a>
                        <a href="{{ path('app_signup')}}" class="btn btn-sm btn-outline-light me-3" type="button" >Registracija</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
    </body>
</html>
